specifications/2.0.3/OFX 2.0.3 Schema/ofxws_dotNet.wsdl

<!--
	Open Financial Exchange Specification (c)1996-2005 ("Specification") by all of its publishers: 
	CheckFree Corp., Intuit Inc., and Microsoft Corporation. All rights reserved. 

  ### NOTE
	### This file does NOT represent the OFX standard.  It is intended to support the generation of efficient .NET code
	### when used with the wsdl.exe tool.  The resultant code will process standard SOAP OFX however it does not follow
	### the "letter" of the standard in restricting the number of message sets per request or response and it does not enforce
	### message set ordering which is required by the standard.  Therefore, business logic in the code iteself will have to
	### enforce the number of message set types and the order of message sets to make the "on the wire" XML content spec compliant.
	###
	Revision History:

	Version	Date    			Editor Email Addr    		Short Description
	b1			2005-01-14  	gil_clark@intuit.com		Initial revision of the OFX wsdl specifically modified for .NET tools.
-->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ofx="http://ofx.net/types/2003/04" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ofx.net/types/2003/04" name="OFXWS">
	<types>
		<xsd:schema targetNamespace="http://ofx.net/types/2003/04" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ofx="http://ofx.net/types/2003/04">
			<xsd:include schemaLocation="OFX3_Protocol_dotNet.xsd"/>
			<xsd:simpleType name="HeaderVersionType">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="FileUIDType">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="OfxHeaderType">
				<xsd:sequence>
					<xsd:element name="VERSION" type="ofx:HeaderVersionType"/>
					<xsd:element name="OLDFILEUID" type="ofx:FileUIDType"/>
					<xsd:element name="NEWFILEUID" type="ofx:FileUIDType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="OFXHEADER" type="ofx:OfxHeaderType"/>
		</xsd:schema>
	</types>
	<message name="OFXRequest">
		<part name="parameter" element="ofx:OFXRequest"/>
	</message>
	<message name="OFXResponse">
		<part name="parameter" element="ofx:OFXResponse"/>
	</message>
	<message name="OFXHeader">
		<part name="OFXHEADER" element="ofx:OFXHEADER"/>
	</message>
	<message name="OFXAuth">
		<part name="SONRQ" element="ofx:SONRQ"/>
		<part name="SONRS" element="ofx:SONRS"/>
	</message>
	<portType name="OFXWebServicePortType">
		<operation name="doOFX">
			<input message="ofx:OFXRequest"/>
			<output message="ofx:OFXResponse"/>
		</operation>
	</portType>
	<binding name="OFXWebServiceBinding" type="ofx:OFXWebServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="doOFX">
			<soap:operation soapAction="http://ofx.net/types/2003/04/doOFX" style="document"/>
			<input>
				<soap:body use="literal"/>
				<soap:header message="ofx:OFXHeader" part="OFXHEADER" use="literal"/>
				<soap:header message="ofx:OFXAuth" part="SONRQ" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
				<soap:header message="ofx:OFXHeader" part="OFXHEADER" use="literal"/>
				<soap:header message="ofx:OFXAuth" part="SONRS" use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="OFXWebService">
		<port name="OFXWebServicePort" binding="ofx:OFXWebServiceBinding">
			<soap:address location="https://yourservicehere.com"/>
		</port>
	</service>
</definitions>
